/*_____________________________________________________Main layout & properties____________________________________________________________________________________________________________*/

* {
    box-sizing: border-box;
    margin: 0px;
}

html {
    font-size: 0.8em;
    font-family: EB_Garamond;

}

body {
    height: 100%;
    background: rgb(163, 224, 237);
    background: -moz-linear-gradient(90deg, rgba(163, 224, 237, 1) 39%, rgba(255, 255, 255, 1) 80%);
    background: -webkit-linear-gradient(90deg, rgba(163, 224, 237, 1) 39%, rgba(255, 255, 255, 1) 80%);
    background: linear-gradient(90deg, rgba(163, 224, 237, 1) 39%, rgba(255, 255, 255, 1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a3e0ed", endColorstr="#ffffff", GradientType=1);
}

ul {
    list-style: none;
}

header,
aside,
main,
.container,
.mainContent,
.nameTitle,
.headerContent,
#RS {
    padding: 5px;
    
}

.Titre {
    text-align:left;
}

p {
    display: flex;
    width: 100%;
}

.container {
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
}

#cvPic {
    display: none;
}


/*_____________________________________________________Fonts____________________________________________________________________________________________________________*/


@font-face {
    font-family: Baron_Neue;
    src: url(font/Baron_Neue/Baron\ Neue\ Black.otf);
}

@font-face {
    font-family: Cormorant_Infant;
    src: url(font/Cormorant_Infant/CormorantInfant-Regular.ttf);
}

@font-face {
    font-family: EB_Garamond;
    src: url(font/EB_Garamond/EBGaramond-VariableFont_wght.ttf);
}

@font-face {
    font-family: Playfair_Display;
    src: url(font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

.bold {
    font-weight: bold;
}

#name {
    font-family: Baron_Neue;
}

#travel {
    font-family: Playfair_Display;
}

h1, h2 {
    font-family: Playfair_Display;
}

h1, h3 {
    font-family: Baron_Neue;
    font-size: 2em;
}

h3 {
    margin-bottom: 1em;
    font-size: 1.4em;
}

#news {
    font-family: EB_Garamond;
    gap: 5px 5px;
}
.newsContent {
    display: block;
    line-height: 1.6em;
}
.specialityFont {
    font-family: EB_Garamond;
font-style: italic;
}

/*_____________________________________________________Header properties____________________________________________________________________________________________________________*/


header {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.headerContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

h1 {
    width: 100%;
    font-size: 5em;
    margin-bottom: 0.3em;    
    height: fit-content;
    font-family: Baron_Neue;
    
}

.institution {
    margin-top: 15px;
}

.diplomaBorder {
    border-bottom: 1px dashed black;
    padding-bottom: 5px;
}

.borderContentHeader {
display: flex;
}

.rightUnderBorder {
border-bottom: 3px solid black;
width: 100%;
margin-left: 7em;
}

.leftUnderBorder {
width:30%;
}

.leftTopUnderBorder {
    border-bottom: 3px solid black;
    width: 65%;
}

.rightTopUnderBorder {
    width: 30%;
}

/*_____________________________________________________Aside properties____________________________________________________________________________________________________________*/


aside {

    /* border-right: 3px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 1em;
}

#RS {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em 0em;
}
li a {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}



.listAsideID {
    margin-top: 1em;
    font-weight: bold;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 15em;
}

.listAside {
    font-weight: bold;
    list-style: unset;
    height: 100%
}

.listAsideFew {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    list-style: unset;
    height: 100%;
    justify-content: space-between;
    height: 5em;
}

.asideHobbies {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.asideContent {
display: flex;
flex-direction: column;
justify-content: space-between;
margin-top: 1em;
margin-bottom: 1em;
}

li img {
    display: inline-block;

}

img {
    margin-right: 2em;
}

#languagesJauges {
    height: 150%;
}

 
.jauge {
    border-bottom: 3px solid black;
    list-style: none;
    width: 45%;
    margin-top: 0.5em;
    overflow-x: hidden;
    transition-delay: 200ms;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    
}


#htmlJauge:hover {
    width: 100%;
    overflow-x: hidden;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}

#ScssJauge:hover {
    width: 70%;
    overflow-x: hidden;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}

#javascriptJauge:hover {
    width: 70%;
    overflow-x: hidden;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}

#sqlJauge:hover {
    width: 70%;
    overflow-x: hidden;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}

#phpJauge:hover {
    width: 80%;
    overflow-x: hidden;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}


.hobbiesBold {
    font-weight: bold;
    font-family: Playfair_Display;
}

.hobbies {
    font-style: italic;
    font-family: Playfair_Display;
}


/*_____________________________________________________Main properties____________________________________________________________________________________________________________*/


main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
}

.mainContent {
    margin-bottom: 5em;
}

.duration {
    font-weight: 600;
    font-size: 1.2em;
}

.mainContentList {
    list-style: unset;
    font-weight: bold;
    line-height: 2em;
}


.subtextMain {
    font-size: 1em;
    font-style: italic;
}
.subtextMainMiscaleanous {
    font-size: 1.5em;
    
}

/*_____________________________________________________Footer properties____________________________________________________________________________________________________________*/

footer {
    height: 100%;
}
/*_____________________________________________________Responsive properties____________________________________________________________________________________________________________*/


@media screen and (min-width : 760px) {

    * {
        box-sizing: border-box;
        margin: 0px;
    }

    ul {
        list-style: none;
    }

    header,
    aside,
    main,
    .container,
    .mainContent,
    .nameTitle,
    #RS {
        padding: 15px;
    }



    /*Container grid wider frames*/
    .container {
        height: 100%;
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "aside header header"
            "aside main main"
            "aside main main"
            "aside main main"
            "aside main main"
            "aside footer footer";
        border-right: 3px solid black;
    }


    /*Header grid wider frames*/
    header {
        grid-area: header;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .headerContent {
        display: grid;
        grid-template-columns: 1fr 0.45fr;
        grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
        gap: 5px 0px;
        width: 100%;
        height: 80%;
        overflow: hidden;
        box-sizing: border-box;
        font-size: 1.8em;
    }

    .nameTitle {
        font-size: 3em;
        margin-bottom: 0.35em;
        width: 50%;
    }

    .institution {
        margin-top: 15px;
    }

    .diplomaBorder {
        border-bottom: 1px dashed black;
        padding-bottom: 5px;
        margin-right: 5px;

    }

    #borderContentHeader {
        display: flex;
        }
        
        #rightUnderBorder {
        border-bottom: 3px solid black;
        width: 100%;
        margin-left: 20em;
        }
        #leftUnderBorder {
        width:30%;
        }
        
        #leftTopUnderBorder {
            border-bottom: 3px solid black;
            width: 55%;
            margin-right: 25em;
        }
        
        #rightTopUnderBorder {
            width: 30%;
        }

        #name {
            font-size: 8em;
            width: 100%;
            height: fit-content;
        }

    /*Aside*/
    aside {
        grid-area: aside;
        border-right: 3px solid black;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: unset;
        font-size: 1.5em;
    }

    .listAsideMany {
        font-weight: bold;
        list-style: unset;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 12em;
        list-style: none;
    }

    .listAsideFew {
        font-weight: bold;
        list-style: unset;
        height: 100%;
        justify-content: space-around;
        height: 5em;
    }

    .jauge {
        border-bottom: 3px solid black;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55%;
        margin-top: 0.5em;
        overflow-x: hidden;
        transition-delay: 200ms;
        transition-duration: 1s;
        transition-timing-function: ease-in;


    }

    h3 {
        margin-bottom: 1em;
        font-size: 1.4em;
    }


    /*Main*/
    main {
        height: 75%;
        grid-area: main;
        display: flex;
        font-size: 1.5em;
    }

    .mainGridLeft {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 1fr 1fr 1fr;
        gap: 10px;
    }

    .mainGridRight {
        margin-top: 6em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.25fr 1fr 1fr;
        gap: 10px;
    }


    .mainContent {
        height: 100%;
    }

    .mainContentTitre {
        height: 20%;

    }

}